body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header, nav, section, footer {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    background-color: #22b235;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #B22222;
}

nav ul li a:hover {
    text-decoration: underline;
}

section h2 {
    color: #B22222;
}

footer {
    text-align: center;
    font-size: 0.8em;
    color: #666;
}

/* For desktop view */
nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 15px;
}

/* For mobile view */
@media (max-width: 600px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        width: calc(50% - 30px); /* Adjust the width as needed */
        margin: 10px 0;
    }
}

